body {
    font-family: Arial, sans-serif;
}
.container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container h2 {
    margin-bottom: 16px;
}
.container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}
.container button {
    width: 100%;
    padding: 10px;
    background-color: #f0c14b;
    border: solid 1px #a88734;
}
h3 {
    width: 23%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.9em;
   
    
 } 
 
 h3 span { 

     font-weight: normal;
     background:#fff; 
     padding:0 1px; 
 }
 button{
    margin-bottom: 0px;
    width: 20%;
    padding: 10px;
 } 
 footer{
    text-align: center;
 }